<%= form_with url: explore_ropa_path, method: :get, local: true, class: "d-grid gap-3 px-3" do %>
  <input type="hidden" name="tipo" value="ropa">

  <div>
    <%= label_tag :subtipo, "Tipo de prenda", class: "form-label" %>
    <%= select_tag :subtipo, options_for_select(["", "remera", "pantalon", "buzo", "zapatillas"], params[:subtipo]), class: "form-select" %>
  </div>

  <div>
    <%= label_tag :talle_ropa, "Talle de ropa", class: "form-label" %>
    <%= select_tag :talle_ropa, options_for_select(["", "S", "M", "L", "XL"], params[:talle_ropa]), class: "form-select" %>
  </div>

  <div>
    <%= label_tag :talle_zapatilla, "Talle de zapatilla", class: "form-label" %>
    <%= select_tag :talle_zapatilla, options_for_select(["", "38", "39", "40", "41", "42", "43"], params[:talle_zapatilla]), class: "form-select" %>
  </div>

  <div>
    <%= label_tag :color, "Color", class: "form-label" %>
    <%= text_field_tag :color, params[:color], class: "form-control" %>
  </div>

  <div>
    <%= label_tag :precio, "Precio máximo ($0 a $1.000.000)", class: "form-label" %>
    <%= range_field_tag :precio, params[:precio] || 1000000, min: 0, max: 1000000, step: 1000, class: "form-range" %>
  </div>

  <div>
    <%= label_tag :distancia, "Distancia máxima (0 a 50 km)", class: "form-label" %>
    <%= range_field_tag :distancia, params[:distancia] || 50, min: 0, max: 50, step: 1, class: "form-range" %>
  </div>

  <div>
    <%= check_box_tag :estado, "nuevo", params[:estado] == "nuevo" %>
    <%= label_tag :estado, "Solo nuevos" %>
  </div>

  <div>
    <%= check_box_tag :envio, "gratis", params[:envio] == "gratis" %>
    <%= label_tag :envio, "Envío gratis" %>
  </div>

  <%= submit_tag "Filtrar", class: "btn btn-primary w-100" %>
<% end %>
