<% has_hover = product.images[1].present? %>

<div class="product-card <%= 'has-hover' if has_hover %>" onclick="window.location.href='<%= product_path(product) %>'">
  <% if product.images.attached? %>
    <div class="product-image-wrapper">
      <%= image_tag product.images[0].variant(resize_to_fit: [400, 500]), class: "product-image main", alt: product.title %>
      <% if has_hover %>
        <%= image_tag product.images[1].variant(resize_to_fit: [400, 500]), class: "product-image hover", alt: product.title %>
      <% end %>
    </div>
  <% end %>

  <div class="product-info">
    <p class="product-title"><%= product.title %></p>
    <p class="product-price text-dark">$<%= number_with_delimiter(product.precio, delimiter: ".") %></p>
  </div>
</div>
