<!DOCTYPE html>
<html>
  <head>
    <%= yield :meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% content_for :meta_tags do %>
      <title>Circu - comprá usado, comprá increíble</title>
      <meta name="description" content="Circu es el mejor lugar para comprar ropa y muebles usados en excelente estado. Comprá increíble, comprá usado.">
      <meta property="og:title" content="Circu - comprá usado, comprá increíble" />
      <meta property="og:description" content="Ropa, muebles y más en excelente estado. Comprá usado. Comprá increíble." />
      <meta property="og:image" content="<%= image_url('favicon.png') %>" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta property="og:type" content="website" />
    <% end %>

    <link rel="icon" href="<%= image_path('favicon_transparente.png') %>" type="image/png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css", media: "all" %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <% if flash[:notice] %>
      <div class="alert alert-success text-center m-0 py-2"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger text-center m-0 py-2"><%= flash[:alert] %></div>
    <% end %>


    <div class="offcanvas offcanvas-end" tabindex="-1" id="cartSidebar">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title">Mi carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <%= render "shared/cart" %>
      </div>
    </div>

    <%= yield %>
    <!-- Bootstrap JS (necesario para que los componentes como collapse funcionen) -->
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", crossorigin: "anonymous" %>

    <%= render "shared/footer" %> 
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <%= render "shared/whatsapp_button" %>

  </body>
</html>
